In [1]:
import pandas as pd
from mlxtend.frequent_patterns import apriori, association_rules

In [2]:
gebruikers_df = pd.read_csv(r'..\..\data\gebruikersinformatie.csv', delimiter = ';')
evenement_df = pd.read_csv(r'..\..\data\evenementinformatie.csv', delimiter = ';')
aanwezigheid_df = pd.read_csv(r'..\..\data\evenementaanwezigheid.csv', delimiter = ';')
bericht_df = pd.read_csv(r'..\..\data\berichtinteracties_met_sentiment.csv', delimiter = ';')

In [3]:
# Merge aanwezigheid_df with evenement_df
aanwezigheid_df = aanwezigheid_df.merge(evenement_df, on = "EvenementID", how = "left")

# Merge the result with gebruikers_df
aanwezigheid_df = aanwezigheid_df.merge(gebruikers_df, on = "GebruikerID", how = "left")

# Rename columns for consistency
aanwezigheid_df.rename(
    columns = {col: f"Evenement_{col}" for col in evenement_df.columns if col != "EvenementID"},
    inplace = True
)

aanwezigheid_df.rename(
    columns = {col: f"Gebruiker_{col}" for col in gebruikers_df.columns if col != "GebruikerID"},
    inplace = True
)

aanwezigheid_df

,EvenementID,GebruikerID,Aanwezigheidsstatus,Evenement_EvenementType,Evenement_EvenementDatum,Evenement_OrganisatorID,Gebruiker_RegistratieDatum,Gebruiker_LaatsteLogin,Gebruiker_Leeftijd,Gebruiker_Studierichting,Gebruiker_Studiejaar,Gebruiker_Lidmaatschapstype
0,E001,G123,Bijgewoond,BBQ,24-2-2023,G296,15-5-2023,11-12-2023,19.0,Data engineering,Eerstejaars,Regulier
1,E001,G296,Bijgewoond,BBQ,24-2-2023,G296,6-9-2023,18-3-2024,22.0,Security & Cloud,Eerstejaars,Premium
2,E001,G032,Geregistreerd,BBQ,24-2-2023,G296,4-1-2023,19-5-2023,17.0,Data Engineering,Tweedejaars,Regulier
3,E001,G217,Bijgewoond,BBQ,24-2-2023,G296,13-8-2023,18-1-2024,24.0,Data Engineering,Vierdejaars,Regulier
4,E001,G162,Geregistreerd,BBQ,24-2-2023,G296,21-8-2023,8-5-2024,18.0,Human computer interaction,Tweedejaars,Regulier
...,...,...,...,...,...,...,...,...,...,...,...,...
3995,E040,G238,Geregistreerd,Workshop,19-2-2023,G215,17-1-2023,9-5-2023,17.0,Data engineering,Vierdejaars,Regulier
3996,E040,G121,Geregistreerd,Workshop,19-2-2023,G215,15-10-2023,14-1-2024,24.0,Human computer interaction,Tweedejaars,Premium
3997,E040,G043,Bijgewoond,Workshop,19-2-2023,G215,14-7-2023,20-8-2023,21.0,Data engineering,Derdejaars,Premium
3998,E040,G164,Bijgewoond,Workshop,19-2-2023,G215,15-5-2023,28-11-2023,20.0,Data engineering,Derdejaars,Premium
3999,E040,G177,Bijgewoond,Workshop,19-2-2023,G215,24-3-2023,9-9-2023,22.0,Data engineering,Vierdejaars,Regulier

In [4]:
# Remove nonvalid entries
aanwezigheid_df = aanwezigheid_df[~(aanwezigheid_df['Gebruiker_Leeftijd'].isna())]
aanwezigheid_df = aanwezigheid_df[~(aanwezigheid_df['Gebruiker_Lidmaatschapstype'] == 'x')]
aanwezigheid_df

,EvenementID,GebruikerID,Aanwezigheidsstatus,Evenement_EvenementType,Evenement_EvenementDatum,Evenement_OrganisatorID,Gebruiker_RegistratieDatum,Gebruiker_LaatsteLogin,Gebruiker_Leeftijd,Gebruiker_Studierichting,Gebruiker_Studiejaar,Gebruiker_Lidmaatschapstype
0,E001,G123,Bijgewoond,BBQ,24-2-2023,G296,15-5-2023,11-12-2023,19.0,Data engineering,Eerstejaars,Regulier
1,E001,G296,Bijgewoond,BBQ,24-2-2023,G296,6-9-2023,18-3-2024,22.0,Security & Cloud,Eerstejaars,Premium
2,E001,G032,Geregistreerd,BBQ,24-2-2023,G296,4-1-2023,19-5-2023,17.0,Data Engineering,Tweedejaars,Regulier
3,E001,G217,Bijgewoond,BBQ,24-2-2023,G296,13-8-2023,18-1-2024,24.0,Data Engineering,Vierdejaars,Regulier
4,E001,G162,Geregistreerd,BBQ,24-2-2023,G296,21-8-2023,8-5-2024,18.0,Human computer interaction,Tweedejaars,Regulier
...,...,...,...,...,...,...,...,...,...,...,...,...
3995,E040,G238,Geregistreerd,Workshop,19-2-2023,G215,17-1-2023,9-5-2023,17.0,Data engineering,Vierdejaars,Regulier
3996,E040,G121,Geregistreerd,Workshop,19-2-2023,G215,15-10-2023,14-1-2024,24.0,Human computer interaction,Tweedejaars,Premium
3997,E040,G043,Bijgewoond,Workshop,19-2-2023,G215,14-7-2023,20-8-2023,21.0,Data engineering,Derdejaars,Premium
3998,E040,G164,Bijgewoond,Workshop,19-2-2023,G215,15-5-2023,28-11-2023,20.0,Data engineering,Derdejaars,Premium
3999,E040,G177,Bijgewoond,Workshop,19-2-2023,G215,24-3-2023,9-9-2023,22.0,Data engineering,Vierdejaars,Regulier

In [5]:
# Convert ID to ints
to_convert = ["EvenementID", "GebruikerID", "Evenement_OrganisatorID"]

for col in to_convert:
    aanwezigheid_df[col] = aanwezigheid_df[col].str[1:].astype(int)
    
aanwezigheid_df

,EvenementID,GebruikerID,Aanwezigheidsstatus,Evenement_EvenementType,Evenement_EvenementDatum,Evenement_OrganisatorID,Gebruiker_RegistratieDatum,Gebruiker_LaatsteLogin,Gebruiker_Leeftijd,Gebruiker_Studierichting,Gebruiker_Studiejaar,Gebruiker_Lidmaatschapstype
0,1,123,Bijgewoond,BBQ,24-2-2023,296,15-5-2023,11-12-2023,19.0,Data engineering,Eerstejaars,Regulier
1,1,296,Bijgewoond,BBQ,24-2-2023,296,6-9-2023,18-3-2024,22.0,Security & Cloud,Eerstejaars,Premium
2,1,32,Geregistreerd,BBQ,24-2-2023,296,4-1-2023,19-5-2023,17.0,Data Engineering,Tweedejaars,Regulier
3,1,217,Bijgewoond,BBQ,24-2-2023,296,13-8-2023,18-1-2024,24.0,Data Engineering,Vierdejaars,Regulier
4,1,162,Geregistreerd,BBQ,24-2-2023,296,21-8-2023,8-5-2024,18.0,Human computer interaction,Tweedejaars,Regulier
...,...,...,...,...,...,...,...,...,...,...,...,...
3995,40,238,Geregistreerd,Workshop,19-2-2023,215,17-1-2023,9-5-2023,17.0,Data engineering,Vierdejaars,Regulier
3996,40,121,Geregistreerd,Workshop,19-2-2023,215,15-10-2023,14-1-2024,24.0,Human computer interaction,Tweedejaars,Premium
3997,40,43,Bijgewoond,Workshop,19-2-2023,215,14-7-2023,20-8-2023,21.0,Data engineering,Derdejaars,Premium
3998,40,164,Bijgewoond,Workshop,19-2-2023,215,15-5-2023,28-11-2023,20.0,Data engineering,Derdejaars,Premium
3999,40,177,Bijgewoond,Workshop,19-2-2023,215,24-3-2023,9-9-2023,22.0,Data engineering,Vierdejaars,Regulier

In [6]:
# Convert columns to datetime datatype and extract month
date_columns = ['Evenement_EvenementDatum', 'Gebruiker_RegistratieDatum', 'Gebruiker_LaatsteLogin']

for col in date_columns:
    aanwezigheid_df[col] = pd.to_datetime(aanwezigheid_df[col], dayfirst = True)

for col in date_columns:
    aanwezigheid_df[f'{col}_month'] = aanwezigheid_df[col].dt.month

aanwezigheid_df

,EvenementID,GebruikerID,Aanwezigheidsstatus,Evenement_EvenementType,Evenement_EvenementDatum,Evenement_OrganisatorID,Gebruiker_RegistratieDatum,Gebruiker_LaatsteLogin,Gebruiker_Leeftijd,Gebruiker_Studierichting,Gebruiker_Studiejaar,Gebruiker_Lidmaatschapstype,Evenement_EvenementDatum_month,Gebruiker_RegistratieDatum_month,Gebruiker_LaatsteLogin_month
0,1,123,Bijgewoond,BBQ,2023-02-24,296,2023-05-15,2023-12-11,19.0,Data engineering,Eerstejaars,Regulier,2,5,12
1,1,296,Bijgewoond,BBQ,2023-02-24,296,2023-09-06,2024-03-18,22.0,Security & Cloud,Eerstejaars,Premium,2,9,3
2,1,32,Geregistreerd,BBQ,2023-02-24,296,2023-01-04,2023-05-19,17.0,Data Engineering,Tweedejaars,Regulier,2,1,5
3,1,217,Bijgewoond,BBQ,2023-02-24,296,2023-08-13,2024-01-18,24.0,Data Engineering,Vierdejaars,Regulier,2,8,1
4,1,162,Geregistreerd,BBQ,2023-02-24,296,2023-08-21,2024-05-08,18.0,Human computer interaction,Tweedejaars,Regulier,2,8,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3995,40,238,Geregistreerd,Workshop,2023-02-19,215,2023-01-17,2023-05-09,17.0,Data engineering,Vierdejaars,Regulier,2,1,5
3996,40,121,Geregistreerd,Workshop,2023-02-19,215,2023-10-15,2024-01-14,24.0,Human computer interaction,Tweedejaars,Premium,2,10,1
3997,40,43,Bijgewoond,Workshop,2023-02-19,215,2023-07-14,2023-08-20,21.0,Data engineering,Derdejaars,Premium,2,7,8
3998,40,164,Bijgewoond,Workshop,2023-02-19,215,2023-05-15,2023-11-28,20.0,Data engineering,Derdejaars,Premium,2,5,11
3999,40,177,Bijgewoond,Workshop,2023-02-19,215,2023-03-24,2023-09-09,22.0,Data engineering,Vierdejaars,Regulier,2,3,9

In [7]:
# Create boolean dataframe
dummies_df = pd.DataFrame()

# Aanwezigheid columns
dummies_df = pd.concat([dummies_df, pd.get_dummies(aanwezigheid_df['Aanwezigheidsstatus'], prefix = 'Aanwezigheid')], axis = 1)

# Evenement columns
dummies_df = pd.concat([dummies_df, pd.get_dummies(aanwezigheid_df['Evenement_EvenementType'], prefix = 'EvenementType')], axis = 1)

dummies_df["EvenementDatum_is_weekday"] = aanwezigheid_df["Evenement_EvenementDatum"].dt.weekday < 5
dummies_df["EvenementDatum_is_weekend"] = aanwezigheid_df["Evenement_EvenementDatum"].dt.weekday >= 5

dummies_df = pd.concat([dummies_df, pd.get_dummies(aanwezigheid_df['Evenement_EvenementDatum_month'], prefix = 'EvenementDatum_month')], axis = 1)

# Gebruiker columns
dummies_df[f'Younger'] = aanwezigheid_df["Gebruiker_Leeftijd"] <= aanwezigheid_df["Gebruiker_Leeftijd"].mode()[0]
dummies_df[f'Older'] = aanwezigheid_df["Gebruiker_Leeftijd"] > aanwezigheid_df["Gebruiker_Leeftijd"].mode()[0]

dummies_df = pd.concat([dummies_df, pd.get_dummies(aanwezigheid_df['Gebruiker_Studierichting'].replace('Data engineering', 'Data Engineering'), prefix = 'Studierichting')], axis = 1)
dummies_df = pd.concat([dummies_df, pd.get_dummies(aanwezigheid_df['Gebruiker_Studiejaar'], prefix = 'Studiejaar')], axis = 1)
dummies_df = pd.concat([dummies_df, pd.get_dummies(aanwezigheid_df['Gebruiker_Lidmaatschapstype'], prefix = 'Lidmaatschapstype')], axis = 1)

dummies_df

,Aanwezigheid_Afwezig,Aanwezigheid_Bijgewoond,Aanwezigheid_Geregistreerd,EvenementType_BBQ,EvenementType_Hackathon,EvenementType_Lezing,EvenementType_Workshop,EvenementDatum_is_weekday,EvenementDatum_is_weekend,EvenementDatum_month_1,...,Studierichting_Data Engineering,Studierichting_Human computer interaction,Studierichting_Security & Cloud,Studierichting_Software engineering,Studiejaar_Derdejaars,Studiejaar_Eerstejaars,Studiejaar_Tweedejaars,Studiejaar_Vierdejaars,Lidmaatschapstype_Premium,Lidmaatschapstype_Regulier
0,False,True,False,True,False,False,False,True,False,False,...,True,False,False,False,False,True,False,False,False,True
1,False,True,False,True,False,False,False,True,False,False,...,False,False,True,False,False,True,False,False,True,False
2,False,False,True,True,False,False,False,True,False,False,...,True,False,False,False,False,False,True,False,False,True
3,False,True,False,True,False,False,False,True,False,False,...,True,False,False,False,False,False,False,True,False,True
4,False,False,True,True,False,False,False,True,False,False,...,False,True,False,False,False,False,True,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3995,False,False,True,False,False,False,True,False,True,False,...,True,False,False,False,False,False,False,True,False,True
3996,False,False,True,False,False,False,True,False,True,False,...,False,True,False,False,False,False,True,False,True,False
3997,False,True,False,False,False,False,True,False,True,False,...,True,False,False,False,True,False,False,False,True,False
3998,False,True,False,False,False,False,True,False,True,False,...,True,False,False,False,True,False,False,False,True,False
3999,False,True,False,False,False,False,True,False,True,False,...,True,False,False,False,False,False,False,True,False,True

In [8]:
# Create frequent itemsets and association rules
freq_itemsets = apriori(dummies_df, min_support = 0.1, use_colnames = True)
association_rules(freq_itemsets, metric = 'lift', min_threshold = 1.25)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(EvenementType_BBQ),(EvenementDatum_is_weekend),0.293952,0.236289,0.114300,0.388840,1.645613,0.044843,1.249610,0.555662
1,(EvenementDatum_is_weekend),(EvenementType_BBQ),0.236289,0.293952,0.114300,0.483731,1.645613,0.044843,1.367598,0.513707
2,(Studiejaar_Eerstejaars),(Younger),0.284982,0.348539,0.189903,0.666367,1.911885,0.090575,1.952626,0.667055
3,(Younger),(Studiejaar_Eerstejaars),0.348539,0.284982,0.189903,0.544853,1.911885,0.090575,1.570960,0.732133
4,(Older),(Studiejaar_Derdejaars),0.651461,0.223219,0.186058,0.285602,1.279470,0.040640,1.087322,0.626691
5,(Studiejaar_Derdejaars),(Older),0.223219,0.651461,0.186058,0.833525,1.279470,0.040640,2.093639,0.281194
6,"(Younger, EvenementDatum_is_weekday)",(EvenementType_Lezing),0.264992,0.376730,0.126858,0.478723,1.270734,0.027027,1.195661,0.289865
7,(EvenementType_Lezing),"(Younger, EvenementDatum_is_weekday)",0.376730,0.264992,0.126858,0.336735,1.270734,0.027027,1.108165,0.341831
8,"(Studierichting_Human computer interaction, Ev...",(EvenementType_Lezing),0.287545,0.376730,0.137622,0.478610,1.270432,0.029295,1.195400,0.298778
9,(EvenementType_Lezing),"(Studierichting_Human computer interaction, Ev...",0.376730,0.287545,0.137622,0.365306,1.270432,0.029295,1.122518,0.341531
10,"(Studiejaar_Eerstejaars, EvenementDatum_is_wee...",(Younger),0.217581,0.348539,0.144285,0.663133,1.902607,0.068450,1.933882,0.606331
11,"(Younger, EvenementDatum_is_weekday)",(Studiejaar_Eerstejaars),0.264992,0.284982,0.144285,0.544487,1.910602,0.068767,1.569700,0.648435
12,(Studiejaar_Eerstejaars),"(Younger, EvenementDatum_is_weekday)",0.284982,0.264992,0.144285,0.506295,1.910602,0.068767,1.488759,0.666564
13,(Younger),"(Studiejaar_Eerstejaars, EvenementDatum_is_wee...",0.348539,0.217581,0.144285,0.413971,1.902607,0.068450,1.335119,0.728218
14,"(Studiejaar_Derdejaars, EvenementDatum_is_week...",(Older),0.166069,0.651461,0.136853,0.824074,1.264963,0.028666,1.981170,0.251176
15,(Older),"(Studiejaar_Derdejaars, EvenementDatum_is_week...",0.651461,0.166069,0.136853,0.210071,1.264963,0.028666,1.055704,0.600975
16,"(Older, EvenementDatum_is_weekday)",(Studiejaar_Vierdejaars),0.498719,0.245771,0.159918,0.320658,1.304699,0.037347,1.110234,0.465886
17,"(Studiejaar_Vierdejaars, EvenementDatum_is_wee...",(Older),0.195284,0.651461,0.159918,0.818898,1.257018,0.032698,1.924543,0.254085
18,(Older),"(Studiejaar_Vierdejaars, EvenementDatum_is_wee...",0.651461,0.195284,0.159918,0.245476,1.257018,0.032698,1.066521,0.586637
19,(Studiejaar_Vierdejaars),"(Older, EvenementDatum_is_weekday)",0.245771,0.498719,0.159918,0.650678,1.304699,0.037347,1.435012,0.309641
20,"(Studiejaar_Eerstejaars, Lidmaatschapstype_Pre...",(Younger),0.157099,0.348539,0.105843,0.673736,1.933027,0.051088,1.996727,0.572637
21,"(Younger, Lidmaatschapstype_Premium)",(Studiejaar_Eerstejaars),0.191953,0.284982,0.105843,0.551402,1.934865,0.051140,1.593894,0.597945
22,(Studiejaar_Eerstejaars),"(Younger, Lidmaatschapstype_Premium)",0.284982,0.191953,0.105843,0.371403,1.934865,0.051140,1.285477,0.675743
23,(Younger),"(Studiejaar_Eerstejaars, Lidmaatschapstype_Pre...",0.348539,0.157099,0.105843,0.303676,1.933027,0.051088,1.210502,0.740914
24,"(Older, Lidmaatschapstype_Premium)",(Studiejaar_Derdejaars),0.352383,0.223219,0.104049,0.295273,1.322795,0.025391,1.102244,0.376804
25,"(Lidmaatschapstype_Premium, Studiejaar_Derdeja...",(Older),0.117119,0.651461,0.104049,0.888403,1.363709,0.027750,3.123185,0.302086
26,(Older),"(Lidmaatschapstype_Premium, Studiejaar_Derdeja...",0.651461,0.117119,0.104049,0.159717,1.363709,0.027750,1.050694,0.765209
27,(Studiejaar_Derdejaars),"(Older, Lidmaatschapstype_Premium)",0.223219,0.352383,0.104049,0.466131,1.322795,0.025391,1.213063,0.314149
28,"(Older, Lidmaatschapstype_Premium)",(Studiejaar_Vierdejaars),0.352383,0.245771,0.108406,0.307636,1.251718,0.021800,1.089353,0.310520
29,(Studiejaar_Vierdejaars),"(Older, Lidmaatschapstype_Premium)",0.245771,0.352383,0.108406,0.441084,1.251718,0.021800,1.158702,0.266627